﻿@using LandingPad.Models
@model LoginViewModel
@{
    ViewBag.Title = "Welcome To LandingPad!";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<div align="center"><img src="~/Content/SquareOneLogo.png" height="100" hspace="5"></div>
<br />
<br />
<body>
    <div align="center">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                @Html.AntiForgeryToken()
                    <!--<h4>Use your LandingPad credentials to login.</h4>-->
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" align="center">
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email/Username"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password"})
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div>
                        <label>
                            Remember Me?

                            @Html.CheckBoxFor(m => m.RememberMe)
                        </label>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        <p>Dont Have an account?</p>
                        <p>You can register here: @Html.ActionLink("Account Registration", "Register")</p>
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality*@
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                 }
        </section>
    </div>
    <div class="float">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
}