﻿@model LandingPad.Models.Pseudonym

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pseudonym</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LPProfile.ProfileID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LPProfile.ProfileID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pseudonym1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pseudonym1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PseudonymID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
