﻿@model IEnumerable<LandingPad.Models.Pseudonym>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LPProfile.ProfileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pseudonym1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LPProfile.ProfileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pseudonym1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PseudonymID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PseudonymID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PseudonymID })
        </td>
    </tr>
}

</table>
